<% unless account_signed_in?%>
  <div class="row">
    <div class="col">
      <p class="h5">Trending Today</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    上面第一
    </div>
    <div class="col-sm-3">
    上面第二
    </div>
    <div class="col-sm-3">
    上面第三
    </div>
    <div class="col-sm-3">
    上面第四
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col">
      <p class="h5">Popular Posts</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <%= render partial: "posts/list", locals: {posts: @posts} %>
    </div>
    <div class="col-4">
      <p class="h5 mb-4">右側資訊欄</p>

      <div class="card">
        <ul class="list-group list-group-flush">
          <% @communities.each do |community| %>
            <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
          <% end %>
        </ul>
      </div>
      <%= link_to "view all", communities_path, class:"btn btn-primary mt-3"%>
    </div>
  </div>
